body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

/* -------------------- */
/* PANTALLA INICIAL */
/* -------------------- */

#introScreen {

    position: relative;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;
}

/* VIDEO */

#introVideo {

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 0;
}

/* CONTENIDO */

.introContent {

    position: relative;

    z-index: 10;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 20px;
}

/* TITULO */

.introContent h1 {

    font-size: 60px;

    margin: 0;

    color: white;
}

/* SUBTITULO */

.introContent h2 {

    margin: 0;

    color: white;
}

/* BOTON */

#startButton {

    padding: 15px 40px;

    font-size: 20px;

    border: none;

    border-radius: 12px;

    cursor: pointer;
}

#createScreen {

    display: none;

    position: relative;

    height: 100vh;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 15px;

    overflow: hidden;
}
 #createScreen input {

    width: 350px;      

    height: 40px;    

    padding: 15px;

    font-size: 24px;  

    border-radius: 12px;
}
#createVideo {

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 0;
}

.createContent {

    position: relative;

    z-index: 10;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 20px;
}


/* -------------------- */
/* BOTONES */
/* -------------------- */

button {

    padding: 12px 20px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    font-size: 16px;
}

button:hover {

    transform: scale(1.05);
}

/* -------------------- */
/* MUNDO */
/* -------------------- */

#worldScreen {

    display: none;

    width: 100vw;
    height: 100vh;

    position: relative;
}

#world {

    width: 100%;
    height: 100%;

    position: relative;

    overflow: hidden;

    background-image: url("images/grass.png");

    background-repeat: repeat;

    background-size: 300px;
}

/* -------------------- */
/* DINERO */
/* -------------------- */

#moneyBox {

    position: fixed;

    top: 20px;
    right: 20px;

    z-index: 999;

    background: #222;

    border: 2px solid gold;

    padding: 15px;

    border-radius: 10px;

    color: gold;

    font-size: 24px;
}

/* -------------------- */
/* BOTON + */
/* -------------------- */

#openCreateButton {

    position: fixed;

    bottom: 20px;
    left: 20px;

    width: 220px;
    height: 40px;

    border-radius: 10px;

    font-size: 15px;

    z-index: 999;
}

/* -------------------- */
/* CASAS */
/* -------------------- */

.house {

    position: absolute;

    width: 160px;
    height: 120px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 1;
}


/* -------------------- */
/* AVATAR */
/* -------------------- */

.avatar {

    position: absolute;

    width: 40px;
    height: 40px;

    z-index: 100;
}

.body {
    position: relative;
    width: 60px;
    height: 60px;
    transform-origin: center;
}

/* NOMBRE */

.name {

    position: absolute;

    top: -30px;

    width: 100%;

    text-align: center;

    color: white;

    font-size: 15px;
}

/* CAMISETA + BRAZOS */

.arms {
    position: absolute;

    top: 18px;
    left: 0px;

    width: 40px;
    height: 18px;

    border-radius: 10px;

    border: 2px solid #222;
}

/* CABEZA */

.head {
    position: absolute;

    top: 12px;
    left: 8px;

    width: 24px;
    height: 24px;

    border-radius: 50%;

    background: #f5d6b4;

    border: 2px solid #222;

    z-index: 2;
}

/* PELO */

.hair {
    position: absolute;

    top: 12px;
    left: 8px;

    width: 24px;
    height: 18px;

    border-radius: 15px 15px 0 0;

    border: 2px solid #222;

    z-index: 3;
}

@media (max-width: 768px){

    .house{
        width:80px;
        height:60px;
    }

    .avatar{
        transform: scale(0.7);
    }

    #moneyBox{
        font-size:18px;
        padding:10px;
    }

    #openCreateButton{
        width:160px;
        font-size:12px;
    }
}
